DUPLICATI__WEBSERVICE_PASSWORD=replace-with-secure-string
DUPLICATI__DISABLE_DB_ENCRYPTION=false # because the SETTINGS_ENCRYPTION_KEY is used instead for encrypting the db
SETTINGS_ENCRYPTION_KEY=replace-with-secure-encryption-key
DUPLICATI__WEBSERVICE_TIMEZONE=Europe/Zurich